<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a class="active">Posts</a></li>
    </ol>
</div>

<div class="container">
    <!-- remove this when done -->
    <div class="container" style="margin-top: 20px" ng-show="errorNotFound">
        <div class="well">
            <p class="lead">The db needs to be initialized.</p>
            <p>Please execute the following commands:</p>
            <p>Create the blog db: <code>curl -u admin:changeit -i -X PUT /data/blog -H "Content-Type: application/json"</code></p>
            <p>Create the posts collection: <code>curl -u admin:changeit -i -X PUT /data/blog/posts -H "Content-Type: application/json"</code></p>
        </div>
    </div>
    
    <div class="row" ng-hide="errorNotFound">
        <div ng-repeat-start="post in posts._embedded['rh:doc']">
            <div ng-class="row">
                <div class="col-sm-6">
                    <div class="well well-lg" >
                        <div class="panel-body">
                            <p class="lead"><a href="#posts/{{post._id.$oid}}">{{post.title}}</a></p>
                            <p>published on {{post._created_on| date}} by <strong>{{post.author}}</strong></p>
                            <p>{{post.summary}}</p>
                        </div>
                        <div class="footer pull-right">
                            <a href="#posts/{{post._id.$oid}}">read more &rightarrow;<i class="icon-flash"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix" ng-if="($index + 1) % 2 === 0"></div>    
        </div>
        <div ng-repeat-end></div>
    </div>

    <nav ng-hide="errorNotFound">
        <ul class="pager">
            <li ng-class="posts._links.previous == null ? 'disabled' : ''">
                <a ng-show="currentPage > 1" ng-click="setCurrentPage(currentPage - 1)">Newer</a>
                <span ng-show="currentPage === 1">Newer</span>
            </li>
            <li ng-class="posts._links.next == null ? 'disabled' : ''">
                <a ng-show="currentPage < pages" ng-click="setCurrentPage(currentPage + 1)">Older</a>
                <span ng-show="currentPage === pages">Older</span>
            </li>
            <li class="lead" style="margin-left: 20px">page {{currentPage}}/{{pages}}</li>
        </ul>
    </nav>
</div>