<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#posts">Posts</a></li>
        <li><a class="active">{{post.title}}</a></li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div class="text-center" >
            <h1>{{post.title}} <a ng-show="auth" ng-href="#edit/{{post._id.$oid}}"><i class="glyphicon glyphicon-wrench" style="margin-left: 10px; font-size: 0.6em"></i></a></h1>
            <p>published on {{post._created_on | date}} by <strong>{{post.author}}</strong></p>
        </div>
    </div>
    
    <div class="row-fluid">
        <div compile="post.content"></div>
    </div>
</div>