<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a class="active">Posts</a></li>
    </ol>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="post in posts._embedded['rh:doc']">

            <div class="col-sm-6">
                <div class="well well-lg" >
                    <div class="panel-body">
                        <p class="lead"><a href="#posts/{{post._id}}">{{post.title}}</a></p>
                        <p>published on {{post._created_on | date}} by <strong>{{post.author}}</strong></p>
                        <p>{{post.summary}}</p>
                    </div>
                    <div class="footer pull-right">
                        <a href="#posts/{{post._id}}">read more &rightarrow;<i class="icon-flash"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul class="pager">
            <li ng-class="posts._links.previous == null ? 'disabled' : ''">
                <a ng-show="currentPage > 1" ng-click="setCurrentPage(currentPage - 1)">Newer</a>
                <span ng-show="currentPage === 1">Newer</span>
            </li>
            <li ng-class="posts._links.next == null ? 'disabled' : ''">
                <a ng-show="currentPage < pages" ng-click="setCurrentPage(currentPage + 1)">Older</a>
                <span ng-show="currentPage === pages">Older</span>
            </li>
            <li class="lead" style="margin-left: 20px">page {{currentPage}}/{{pages}}</li>
        </ul>
    </nav>
</div>